@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <h2>Stock Prices</h2>
    <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StockPriceDtos.FirstOrDefault().Symbol)</th>
            <th>@Html.DisplayNameFor(model => model.StockPriceDtos.FirstOrDefault().BidPrice)</th>
            <th>@Html.DisplayNameFor(model => model.StockPriceDtos.FirstOrDefault().AskPrice)</th>
            <th>@Html.DisplayNameFor(model => model.StockPriceDtos.FirstOrDefault().TransactionTime)</th>
            <th>@Html.DisplayNameFor(model => model.StockPriceDtos.FirstOrDefault().ID)</th>
        </tr>
        @foreach (var item in Model.StockPriceDtos)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Symbol)</td>
                <td>@Html.DisplayFor(modelItem => item.BidPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.AskPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.TransactionTime.LocalDateTime)</td>
                <td>@Html.DisplayFor(modelItem => item.ID)</td>
            </tr>
         }
</table>
    <script src="js/site.js" asp-append-version="true"></script>
    <script type='text/javascript'>
        RefreshPageEveryFiveSeconds();
    </script>
</body>