@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<h2>Stock Prices</h2>
<table>
    <tr>
        <th>Symbol</th>
        <th>Bid</th>
        <th>Ask</th>
    </tr>
    <tr>
        <td><code>@Model.Symbols[0]</code></td>
        <td><code>@Model.BidPrice[0]</code></td>
        <td><code>@Model.AskPrice[0]</code></td>
    </tr>
    <tr>
        <td><code>@Model.Symbols[1]</code></td>
        <td><code>@Model.BidPrice[1]</code></td>
        <td><code>@Model.AskPrice[1]</code></td>
    </tr>
    <tr>
        <td><code>@Model.Symbols[2]</code></td>
        <td><code>@Model.BidPrice[2]</code></td>
        <td><code>@Model.AskPrice[2]</code></td>
    </tr>
</table>
</body>