@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
<h2>Stock Prices</h2>
<table>
    <tr>
        <th>Symbol</th>
        <th>Bid</th>
        <th>Ask</th>
    </tr>
    <tr>
        <td><code>@Model.Symbols[0]</code></td>
        <td><code>@Model.BidPrices[0]</code></td>
        <td><code>@Model.AskPrices[0]</code></td>
    </tr>
    <tr>
        <td><code>@Model.Symbols[1]</code></td>
        <td><code>@Model.BidPrices[1]</code></td>
        <td><code>@Model.AskPrices[1]</code></td>
    </tr>
    <tr>
        <td><code>@Model.Symbols[2]</code></td>
        <td><code>@Model.BidPrices[2]</code></td>
        <td><code>@Model.AskPrices[2]</code></td>
    </tr>
</table>
</body>