@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <h2>Stock Prices</h2>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Bid</th>
            <th>Ask</th>
            <th>Transaction time</th>
            <th>Id</th>
        </tr>
        @for (int i = 0; i < (Model.StockPriceDtos?.Count() ?? 0); i++)
        {
            <tr>
                <td>@Model.StockPriceDtos[i].Symbol</td>
                <td>@Model.StockPriceDtos[i].BidPrice</td>
                <td>@Model.StockPriceDtos[i].AskPrice</td>
                <td>@Model.StockPriceDtos[i].TransactionTime</td>
                <td>@Model.StockPriceDtos[i].ID</td>
            </tr>
        }
    </table>
    <script src="js/site.js" asp-append-version="true"></script>
    <script type='text/javascript'>
        RefreshPageEveryFiveSeconds();
    </script>
</body>